<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=9.0.10, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="FontSize" value="12"/>
		<add key="Notify_local" value="false"/>
		<add key="Notify_engcheck1" value="false"/>
		<add key="Notify_engcheck2" value="false"/>
		<add key="Notify_engrelease" value="false"/>
		<add key="Notify_cncwks" value="false"/>
		<add key="Notify_cncpnl" value="false"/>
		<add key="Home_showSection_orders" value="true"/>
		<add key="Home_showSection_eng" value="true"/>
		<add key="Home_showSection_cnc" value="true"/>
		<add key="DataGridGridLinesVisibility" value="Horizontal"/>
		<add key="Shortcuts" value="Link+Syteline+https://mingle-portal.inforcloudsuite.com/WP5SKD6AED9DWM9B_PRD/5738efb3-297b-4dff-8f46-f473ce41a06a+/Images/Infor_logo_95x95.png;Link+Dynamics+https://internalcrm91.interiorconcepts.com/ICCRM/main.aspx+/Images/Microsoft_Dynamics_Logo.png;Link+Paylocity+https://access.paylocity.com/?ReturnUrl=%2FSignIn&amp;CompanyId=170729+;Folder+H Eng+H:/Engineering+;Folder+Zip Jobs+H:/Zipped Jobs+FolderZipOutline;"/>
	</appSettings>
	
	<connectionStrings>
		<clear />
		<add name="NewOldCrm"
				providerName="System.Data.SqlClient"
				connectionString="Server=Win2022srv03;Database=IC_EMQ;Integrated Security=True;TrustServerCertificate=True;" />
		<add name="OldOldCrm"
				providerName="System.Data.Odbc"
				connectionString="Server=Comsrvr8;Database=eCRM_intcon2;Trusted_Connection=Yes;Integrated Security=SSPI;UID=CameronA;PWD=_IC.Mrcwa32722" />
	</connectionStrings>
</configuration>