<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=9.0.10, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="FontSize" value="12"/>
		<add key="Notify_local" value="false"/>
		<add key="Notify_engcheck1" value="false"/>
		<add key="Notify_engcheck2" value="false"/>
		<add key="Notify_engrelease" value="false"/>
		<add key="Notify_cncwks" value="false"/>
		<add key="Notify_cncpnl" value="false"/>
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="NewOldCrm"
				providerName="System.Data.SqlClient"
				connectionString="Server=Win2022srv03;Database=IC_EMQ;Integrated Security=True;TrustServerCertificate=True;" />
		<add name="OldOldCrm"
				providerName="System.Data.Odbc"
				connectionString="Server=Comsrvr8;Database=eCRM_intcon2;Trusted_Connection=Yes;Integrated Security=SSPI;UID=CameronA;PWD=_IC.Mrcwa32722" />
	</connectionStrings>
</configuration>