html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

nav {
	min-width: 100%;
	height: 30pt;
	display: inline-flex;
	background: lawngreen;
}

main {
	flex: 1;
	display: inline-flex;
	background: #4e97d7;
	height: auto;
	width: auto;
}

footer {
	min-width: 100%;
	height: 30pt;
	display: inline-flex;
	background: orange;
}